autopep8==1.2.4
Flask-Script==2.0.5
Flask==0.9
gunicorn==19.7.1
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
requests==1.1.0
setuptools==29.0.1
six==1.10.0
SQLAlchemy-Utils==0.31.3
SQLAlchemy==1.0.9
Werkzeug==0.9.6